body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to top left, rgb(243, 239, 13), rgb(150, 0, 0));
  height: 100vh;
}

.headerCls {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
}

.playAgain {
  font-size: 1rem;
  height: 3rem;
  width: 10rem;
  margin-bottom: 2rem;
  border-radius: 9px;
  border-width: 0;
  background-color: rgba(255, 255, 255, 0.696);
  box-shadow: 0 10rem 10rem rgba(0, 0, 0, 0.727);
  border-radius: 40px;
}
.playAgain:hover {
  background-color: rgb(126, 126, 126);
  color: aliceblue;
}

#container {
  width: 90%;
  /* height: 100%; */
  margin: auto;
  background-color: rgb(156, 173, 164);
  position: relative;
  border: 0px solid black;
  border-radius: 50px;
  overflow: hidden;
}

.section {
  width: 43%;
  color: rgb(255, 255, 255);
  text-align: center;
  align-items: center;
  padding: 2rem, 20rem;
  background-color: rgb(154, 11, 11);
  border-radius: 40px;
  font-size: x-large;
}

.Pl1Sec {
  float: left;
}

.Pl2Sec {
  float: right;
}

.current {
  color: rgb(215, 215, 215);
  background-color: rgb(92, 13, 13);
  border-radius: 5px;
  width: 70%;
  font-size: large;
  padding: 2rem;
  margin: auto;
  margin-bottom: 2.5rem;
  box-sizing: border-box;
  border-radius: 40px;
}
.current p {
  font-size: 4rem;
}
.currentScore {
  margin: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.player-Active {
  background-color: rgb(101, 170, 156);
  border-radius: 40px;
}

.player-Winner {
  background-color: rgb(21, 255, 21);
  border-radius: 9px;
}

.hidden {
  display: none;
}

.firstTxt {
  font-size: xx-large;
}

.secondTxt {
  margin: 50px;
  font-size: 5rem;
  font-family: serif;
}

.dice {
  position: absolute;
  left: 50%;
  top: 10rem;
  transform: translateX(-50%);
  height: 5.5rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.btn {
  position: absolute;
  left: 50%;
  top: 20rem;
  transform: translateX(-50%);
  padding: 10px;
  width: 5.5rem;
  background-color: rgba(255, 255, 255, 0.696);
  border-radius: 20px;
}

.btn:hover {
  border: 1px solid red;
  scale: 1.2;
  transform: translateX(-2.3rem) translateY(0);
}

.btn--roll {
  top: 24rem;
}
